{% extends 'base_with_layout.html' %}

{% block content %}
<div class = 'row'>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong>질병 상태 진단 서비스</strong>
                <button id="tooltipBtn">?</button>
                <div id="tooltip" class="tooltip1" style="display:none;">
                    이 사이트는 사용자가 피부 질환이 의심되는 부위를 근접 촬영하여 업로드하면,<br> 
                    분석을 통해 질환 상태를 확인할 수 있도록 돕습니다.<br><br>
                    <strong>판별 가능한 질환 목록:</strong><br>
                    - 습진<br>
                    - 흑색종<br>
                    - 아토피 피부염<br>
                    - 기저세포암<br>
                    - 멜라닌세포 모반<br>
                    - 양성 각화증 유사 병변<br>
                    - 건선, 편평태선 및 관련 질환<br>
                    - 지루각화증 및 기타 양성 종양<br>
                    - 백선, 칸디다증 및 기타 진균 감염<br>
                    - 사마귀, 전염성 및 기타 바이러스 감염<br>
                    - 지성-건성 피부 타입<br>
                    에 대해서만 판별할 수 있습니다.
                </div>
            </div>
            <div class="card-body card-block">
                <form id ="form-predict" class="form-horizontal"
                      action = "/serving/predict/" method = "POST">
                    <div class="row form-group">
                        <div class="col col-md-2">
                            <label for="image_input" class=" form-control-label">입력 이미지</label>
                        </div>
                        <div class="col-12 col-md-10">
                            <input type="file" id="img_input" name="img_input" accept= "image/*" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-2">
                            <label for="img_preview" class=" form-control-label">미리보기</label>
                        </div>
                        <div class="col-12 col-md-10">
                            <img id="img_preview" style="width:400px;">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="card border-3 border-top border-top-primary" style="width:100%; height:300px;">
                            <div class="card-body">
                                <h5 class="text-muted">예측결과</h5>
                                <div class="col-12 col-md-12" style="width:100%; height:300px;">
                                    <h1><textarea id="result" rows="9" readonly class="form-control" style = 'resize: none;'></textarea></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer text-right">
                <button id= 'btn-predict' type="button" class="btn btn-primary btn-sm">
                    <i class="fa fa-play"></i> 예측
                </button>
                <button id='btn-reset' type="reset" class="btn btn-danger btn-sm">
                    <i class="fa fa-ban"></i> 초기화
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_block %}
<script>
$(function(){
    const tooltipBtn = document.getElementById('tooltipBtn');
    const tooltipText = document.getElementById('tooltip');

    tooltipBtn.addEventListener('mouseenter', (event) => {

        tooltipText.style.display = 'block';
    });

    tooltipBtn.addEventListener('mouseleave', (event) => {

        tooltipText.style.display = 'none';
    });
    
    // 파일 선택기에 파일이 선택 되었을때 (선택된 파일이 변경되었을 때)
        $("#img_input").on('change', function(event){
            const file = event.target.files[0];
            if (file) { // 선택된 파일이 있다면
                const reader = new FileReader();
    
                reader.onload = function(e) { // 파일을 다 읽었을 떄 실행
                    $('#img_preview').attr('src', e.target.result);
                    $('#img_preview').css("display", "block");
                }
    
                reader.readAsDataURL(file); // 파일 읽기 시작
            } else{
                $('#img_preview').attr('src', '');
                $('#img_preview').css("display", "none");
            }
        });
       
        $("#btn-predict").on('click', function(event){
            $('#form-predict').submit(); // 동기 방식 요청
        });
    
        $('#form-predict').on('submit', function(event){ // submit 하기 직전에 자동으로 호출
            event.preventDefault(); // 기본 동작 차단
    
            const formData = new FormData(this); // <form> 내부의 입력 데이터를 읽어서 변수에 저장
            // $.ajax : jQuery 의 비동기 요청 함수
            $.ajax({
                "url" : "/serving/predict2/",
                "type": "POST",
                "data": formData,
                "contentType": false, // 파일 업로드를 위한 설정
                "processData": false, // 파일 업로드를 위한 설정
                "success": function(result, status, xhr) { // 요청에 대한 응답이 오면 호출
                    //alert(result);
                    msg = `[번호 : ${result.predicted_class}][신뢰도 : ${result.confidence}]`;
                    $("#result").val(msg);
                },
                "error": function(xhr, status, err) { // 요청이 실패하면 호출
                    alert('fail to execute predicting')
                }
            });
       });
        
        $("#btn-reset").on('click', function(event){
            //$('#form-write').reset(); ///오류 : jQuery 객체집합에는 reset 함수 없음
            $('#form-predict')[0].reset(); // jQuery 객체집합에서 DOM객체를 뽑아서 사용
        });
    });
</script>
{% endblock %}