{% extends 'base_with_layout.html' %}

{% block content %}
<div class = 'row'>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong>예측 서비스</strong>
            </div>
            <div class="card-body card-block">
                <form id ="form-predict" class="form-horizontal"
                      action = "/serving/predict/" method="POST" enctype="multipart/form-data">
                    <h3>분석할 부위 선택:</h3>
                    <label><input type="checkbox" name="part" value="forehead"> 이마</label>
                    <label><input type="checkbox" name="part" value="cheeks"> 볼</label>
                    <label><input type="checkbox" name="part" value="glabella"> 미간</label>
                    <label><input type="checkbox" name="part" value="chin"> 턱</label>
                    <label><input type="checkbox" name="part" value="lips"> 입술</label>
                    <label><input type="checkbox" name="part" value="eye wrinkles"> 눈주름</label>
                    <label><input type="checkbox" name="part" value="acne"> 여드름</label>
                    <div class="row form-group">
                        <div class="col col-md-2">
                            <label for="image_input" class=" form-control-label">입력 이미지</label>
                        </div>
                        <div class="col-12 col-md-10">
                            <input type="file" id="img_input" name="img_input" accept= "image/*" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-2">
                            <label for="img_preview" class=" form-control-label">미리보기</label>
                        </div>
                        <div class="col-12 col-md-10">
                            <img id="img_preview" style="width:400px;">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-2">
                            <label for="result" class=" form-control-label">예측 결과</label>
                        </div>
                        <div class="col-12 col-md-10">
                            <textarea id="result" rows="9" readonly class="form-control" style = 'resize: none;'></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer text-right">
                <button id= 'btn-predict' type="button" class="btn btn-primary btn-sm">
                    <i class="fa fa-dot-circle-o"></i> 예측
                </button>
                <button id='btn-reset' type="reset" class="btn btn-danger btn-sm">
                    <i class="fa fa-ban"></i> 초기화
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_block %}
<script>
$(function(){
    
    // 파일 선택기에 파일이 선택 되었을때 (선택된 파일이 변경되었을 때)
        $("#img_input").on('change', function(event){
            const file = event.target.files[0];
            if (file) { // 선택된 파일이 있다면
                const reader = new FileReader();
    
                reader.onload = function(e) { // 파일을 다 읽었을 떄 실행
                    $('#img_preview').attr('src', e.target.result);
                    $('#img_preview').css("display", "block");
                }
    
                reader.readAsDataURL(file); // 파일 읽기 시작
            } else{
                $('#img_preview').attr('src', '');
                $('#img_preview').css("display", "none");
            }
        });
       
        $("#btn-predict").on('click', function(event){
            $('#form-predict').submit(); // 동기 방식 요청
        });
    
        $('#form-predict').on('submit', function(event){ // submit 하기 직전에 자동으로 호출
            event.preventDefault(); // 기본 동작 차단
    
            const formData = new FormData(this); // <form> 내부의 입력 데이터를 읽어서 변수에 저장
            
            // $.ajax : jQuery 의 비동기 요청 함수
            let selected_part = []
            $('input[name=part]').each(function(idx, v) { 
                if($(v).is(":checked")) { 
                    selected_part.push($(v).val()); 
                }
            });

            $.ajax({
                "url" : "/serving/predict/",
                "type": "POST",
                "data": formData,
                "contentType": false, // 파일 업로드를 위한 설정
                "processData": false, // 파일 업로드를 위한 설정
                "success": function(result, status, xhr) { // 요청에 대한 응답이 오면 호출
                    //alert(result);
                    let msg = "";
                    for (let i = 0; i < selected_part.length; i++) {
                        const r = result.predictions[selected_part[i]]
                        if (r)
                            msg += `[번호 : ${r.predicted_class}][신뢰도 : ${r.confidence}]`;
                    }
                    $("#result").val(msg);
                },
                "error": function(xhr, status, err) { // 요청이 실패하면 호출
                    alert('fail to execute predicting')
                }
            });
       });
        
        $("#btn-reset").on('click', function(event){
            //$('#form-write').reset(); ///오류 : jQuery 객체집합에는 reset 함수 없음
            $('#form-write')[0].reset(); // jQuery 객체집합에서 DOM객체를 뽑아서 사용
        });
    });
</script>
{% endblock %}