<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Skolo Online</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts Link For Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
    
  </head>
  <body>
    <button class="chatbot-toggler">
      <span class="material-symbols-rounded">mode_comment</span>
      <span class="material-symbols-outlined">close</span>
    </button>
    <div class="chatbot">
      <header>
        <h2>Chatbot</h2>
        <span class="record-btn material-symbols-outlined">mic</span>
      </header>
      <ul class="chatbox">
        <li class="chat incoming">
          <span class="material-symbols-outlined">smart_toy</span>
          <p>안녕하세요 👋<br>무엇을 도와드릴까요?</p>
        </li>
      </ul>
      <div class="chat-input">
        <textarea placeholder="Enter a message..." spellcheck="false" required></textarea>
        <span id="send-btn" class="material-symbols-rounded">send</span>
      </div>
    </div>

    <script src="http://code.jquery.com/jquery-3.7.1.js"></script>
    <script type="text/javascript">
      $(function() {
        const chatbotToggler = $('.chatbot-toggler');

        const closeBtn = $(".close-btn");
        const chatbox = $(".chatbox");
        const chatInput = $(".chat-input textarea");
        const sendChatBtn = $(".chat-input span");

        let userMessage = null;
        let chatHistory = [];

        const inputInitHeight = chatInput.scrollHeight;

        const createChatLi = (message, className) => {
            const chatLi = $("<li></li>");
            chatLi.addClass(["chat", className]);
            let chatContent = className === "outgoing" ? `<p></p>` : `<span class="material-symbols-outlined">smart_toy</span><p></p>`;
            chatLi.html(chatContent);
            chatLi.find("p").text(message);
            return chatLi;
        }

        const generateResponse = (chatElement, message) => {
            const messageElement = chatElement.find("p");

            messageElement.text(message);

            chatbox.scrollTop(chatbox[0].scrollHeight);
        }

        chatInput.on("input", () => {
            // Adjust the height of the input textarea based on its content
            chatInput.css('height', `${inputInitHeight}px`);
            chatInput.css('height', `${chatInput[0].scrollHeight}px`);
        });

        const handleChat = async () => { // async : 이 함수는 비동기 방식으로 실행
          const message = chatInput.val();
          if (message.length == 0) {
            return;
          }

          // Clear the input textarea and set its height to default
          chatInput.val(""); // 메시지 입력창 내용 지우기
          chatInput.css('height', `${inputInitHeight}px`); // 메시지 입력창 높이 초기화

          // Append the user's message to the chatbox
          chatbox.append(createChatLi(message, "outgoing")); // 대화창에 메시지 추가
          chatbox.scrollTop(chatbox[0].scrollHeight); // 마지막 메시지 위치로 스크롤 이동

          const incomingChatLi = createChatLi("Thinking...", "incoming");
          chatbox.append(incomingChatLi); // 대화창에 메시지 추가
          chatbox.scrollTop(chatbox[0].scrollHeight);

          try {
            // const resp = await fetch("/chatbot/chat-text-with-custom-info/", {
              const resp = await fetch("/chatbot/chat-text-with-custom-info2/", {
              "method": "post", 
              "headers": {"Content-Type": "application/json;charset=utf-8"},
              "body": JSON.stringify({"message": message})
            });

            json_resp = await resp.json();            
            generateResponse(incomingChatLi, json_resp.message); // 마지막에 추가된 메시지 (생각중...) 수정
          } catch (e) {
          } finally {            
          }          
        }

        chatInput.on("keydown", (e) => {
            // If Enter key is pressed without Shift key and the window
            // width is greater than 800px, handle the chat
            if(e.key === "Enter" && !e.shiftKey && window.innerWidth > 800) {
                e.preventDefault();
                handleChat();
            }
        });

        sendChatBtn.on("click", handleChat);

        closeBtn.on("click", () => $('body').removeClass("show-chatbot"));
        chatbotToggler.on('click', (event) => $('body').toggleClass('show-chatbot') );

        const restoreChatHistory = async () => {
          const resp = await fetch("/chatbot/reload-chat-history/");
          json_resp = await resp.json();
          console.log(json_resp);
          for (let i = 0; i < json_resp.length; i++) {
            const message = json_resp[i].content;
            const direction = json_resp[i].role == 'user' ? "outgoing" : "incoming";
            chatbox.append(createChatLi(message, direction));
          }
        }
        restoreChatHistory();

        //////////////////////////////////////////

        const recordBtn = $('.record-btn');

        let mediaRecorder;
        let audioChunks = []; // 오디오 레코딩 실행 중에 부분 데이터를 저장할 배열
        let audioBlob = null;

        recordBtn.on('click', function(event) {

          switch ($(this).text()) {
            case "mic":
              $(this).text("stop_circle");
              navigator.mediaDevices.getUserMedia({ audio: true })
                .then(stream => {
                  mediaRecorder = new MediaRecorder(stream); // 오디오 기록 도구
                  
                  mediaRecorder.start();
                  console.log('Recording started...');

                  mediaRecorder.ondataavailable = (event) => {                    
                    audioChunks.push(event.data);
                  };
                })
                .catch(error => {
                  console.error("Error accessing microphone:", error);
                }); 
              break;
            case "stop_circle":
              $(this).text("mic");
              mediaRecorder.stop();
              mediaRecorder.onstop = () => {
                audioBlob = new Blob(audioChunks, { type: 'audio/wav' });
                audioChunks = []; // Reset the chunks for the next recording

                sendAudioToServer();

              };
              break;
          }
        });

        function sendAudioToServer() {
          const formData = new FormData(); // <form>..</form>을 코드로 생산
          formData.append('audio', audioBlob, 'recording.wav');

          fetch('http://127.0.0.1:5000/chatbot/audio-to-text', {
              method: 'POST',
              body: formData
          })
          .then(response => response.text()) // fetch 실행이 완료되면 호출되는 코드
          .then(data => {
              console.log('Server response:', data);
              chatInput.val(data)
          })
          .catch(error => {
              console.error('Error sending audio:', error);
          });
        }

      });
    </script>

  </body>
</html>
