{% extends 'base_with_layout.html' %}

{% block content%}
<div class = 'row'>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong>게시글 내용 보기</strong>
            </div>
            <div class="card-body card-block">
                <form class="form-horizontal">
                    <div class="row form-group">
                        <div class="col col-md-2">
                            <label for="title" class=" form-control-label">제목</label>
                        </div>
                        <div class="col-12 col-md-10">
                            <input type="text" id="title" readonly class="form-control" value ="{{board['title']}}">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-2">
                            <label for="writer" class=" form-control-label">작성자</label>
                        </div>
                        <div class="col-12 col-md-10">
                            <input type="text" id="writer" value = "{{ board['writer']}}" 
                                   readonly class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-2">
                            <label for="writer" class=" form-control-label">조회수</label>
                        </div>
                        <div class="col-12 col-md-10">
                            <input type="text" id="writer" value = "{{ board['readcount']}}" 
                                   readonly class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-2">
                            <label for="writer" class=" form-control-label">작성일자</label>
                        </div>
                        <div class="col-12 col-md-10">
                            <input type="text" id="writer" value = "{{ board['writedate']}}" 
                                   readonly class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-2">
                            <label for="writer" class=" form-control-label">수정일자</label>
                        </div>
                        <div class="col-12 col-md-10">
                            <input type="text" id="writer" value = "{{ board['modifydate']}}" 
                                   readonly class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-2">
                            <label for="attachment" class=" form-control-label">첨부파일</label>
                        </div>
                        <div class="col-12 col-md-10">
                            <input type="file" id="attachment" name="attachment" readnoly class="form-control-file">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-2">
                            <label for="content" class=" form-control-label">내용</label>
                        </div>
                        <div class="col-12 col-md-10">
                            <textarea name="content" id="content" rows="9" readonly class="form-control" style = 'resize: none;'>{{ board['content'] }}</textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock%}