{% extends 'base_with_layout.html' %}

{% block content %}
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">물광 게시판</h5>
            <div class="col-lg-12 text-right">
                <button id = 'btn-write' type = "button" class="btn btn-outline-primary" style="width:50px; height:40px; padding:10px">작성</button>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>글번호</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>조회수</th>
                            <th>작성일자</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for board in boards %}
                        <tr>
                            <td class = "text">{{board['boardno']}}</td>
                            <td>
                                {% if board['deleted'] %}
                                <span style="color:gray">{{board['title']}}(삭제된 글)</span>
                                {% else %}
                                <a href = {{url_for('board.detail', boardno=board['boardno'])}}>{{board['title']}}</a>
                                {% endif %}
                            </td>
                            <td class= "text">{{board['writer']}}</td>
                            <td class= "text">{{board['readcount']}}</td>
                            <td class= "text">{{board['writedate']}}</td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <nav aria-label="board pager">
                <ul class="pagination justify-content-center">
                  <li class="page-item">
                        {% if pager['page_no'] > 1 %}
                        <a class="page-link" href="{{ url_for('board.list', page_no=1) }}" aria-label="First">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                        {% else %}
                        <a class="page-link" href="javascript:" aria-label="First">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        {% endif %}
                  </li>
                  <li class="page-item">
                    {% if pager['page_no'] > 1 %}
                    <a class="page-link" href="{{ url_for('board.list', page_no=(pager['page_no']-1)) }}" aria-label="Previous">
                      <span aria-hidden="true">&lt;</span>
                    </a>
                    {% else %}
                    <a class="page-link" href="javascript:" aria-label="Previous">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                    {% endif %}
                  </li>
                  {% for page_no in range(pager['page_start'], pager['page_end']) %}
                  {% if page_no <= pager['page_cnt'] %}
                  <li class = "page-item">
                    <a class="page-link" href="{{ url_for('board.list',page_no=page_no) }}">{{ page_no }}</a></li>
                  </li>
                  {% endif %}
                  {% endfor %}
                  <li class="page-item">
                    {% if pager['page_no'] < pager['page_cnt'] %}
                    <a class="page-link" href="{{ url_for('board.list', page_no=(pager['page_no']+1)) }}" aria-label="Next">
                      <span aria-hidden="true">&gt;</span>
                    </a>
                    {% else %}
                    <a class="page-link" href="javascript:" aria-label="Previous">
                        <span aria-hidden="true">&gt;</span>
                    </a>
                    {% endif %}
                  </li>
                  <li class="page-item">
                    {% if pager['page_no'] < pager['page_cnt'] %}
                    <a class="page-link" href="{{ url_for('board.list', page_no=pager['page_cnt']) }}" aria-label="Last">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                    {% else %}
                    <a class="page-link" href="javascript:" aria-label="Last">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    {% endif %}
                  </li>
                </ul>
              </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block js_block %}
<script>
$(function(){
    $('#btn-write').on('click', function(event){
        //loaction.href = "/board/write/"; // 브라우저의 주소입력 위치에 'write'를 입력
        location.href = "{{ url_for('board.write') }}"
    });
});
</script>
{% endblock %}